<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.springbootcooperationplatform.repository.UserMapper">
    <select id="findUserByName" parameterType="string" resultType="com.github.springbootcooperationplatform.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="findUserById" parameterType="int" resultType="com.github.springbootcooperationplatform.entity.User">
        select * from user where id = #{id}
    </select>
    <insert id="save" parameterType="string">
        insert into user(username, encrypted_password,avatar,created_at, updated_at)
        values (#{username}, #{encryptedPassword}, #{avatar},now(), now())
    </insert>
</mapper>